<div class="row">

    <div class="col-md-12">
        <ul id="posts-list">
                <li class="posts-list-item">
                    <div class="posts-content">
                        <span class="posts-list-meta">《兵》</span>
                        <video src="/assets/files/animation/《兵》.mp4" width="640" height="480" controls=""></video>
                        <span class='circle'></span>
                    </div>
                </li>
        </ul>
        <!-- Pagination -->
        {% include pagination.html %}
    </div>

</div>
<script>
    $(document).ready(function(){

        // Enable bootstrap tooltip
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });

    });
</script>