<div class="row">

    <div class="col-md-12">
        <ul id="posts-list">
            {% for file in site.static_files %}
                {% if file.path.include?('animation') %}
                <li class="posts-list-item">
                    <div class="posts-content">
                        <span class="posts-list-meta">{{ file.basename }}</span>
                        <video src="{{ file.path }}" width="640" height="480" controls=""></video>
                        <span class='circle'></span>
                    </div>
                </li>
                {% endif %}
            {% endfor %}
        </ul> 
        <!-- Pagination -->
        {% include pagination.html %}
    </div>

</div>
<script>
    $(document).ready(function(){

        // Enable bootstrap tooltip
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });

    });
</script>